<style>
  /* Prevent overflow */
  .col-md-7.form-group,
  .l-theme-preview-card {
    overflow: hidden;
  }

  /* Banner Container */
  section.app__hero {
    overflow: hidden;
  }

  .app__hero {
    position: relative;
    width: 100%;
    height: 30vh;
    min-height: 320px;
    overflow: hidden;
}

  /* Banner Image (same behavior as original video) */
  .app__hero__image {
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center center;

    display: block;

    object-fit: cover;
    object-position: center right;
}

  /* General */
  img {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    display: block;
  }

  .columns.medium-12 {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  div#htmlBanner {
    overflow: hidden;
    display: block !important;
  }

  /* Desktop */
  @media print, screen and (min-width: 40em) {
    .medium-12 {
      flex: 0 0 100%;
      max-width: 100%;
      min-width: 0;
    }
  }

  /* Tablet */
  @media print, screen and (max-width: 1200px) {

    .app__hero {
      min-height: 300px;
      height: 35vh;
    }

    .app__hero__image {
      min-width: 0;
      min-height: 380px;
      height: 60vw;
    }
  }

  /* Mobile */
  @media print, screen and (max-width: 672px) {

    .app__hero {
      min-height: 220px;
      height: 28vh;
    }

    .app__hero__image {
      min-width: 0;
      min-height: 220px;
      height: 45vw;
    }
  }
</style>

<section class="app__hero">
  <img
    class="app__hero__image"
    src="https://raw.githubusercontent.com/Keshavmishra-10/DumpHtmlBanner/main/newImage.png"
    alt="Learning Banner"
  />
</section>