
<!-- This is a sample HTML banner, feel free to remove or edit if you feel you have the HTML / CSS development skills. We cover Instance Customization in dojo.litmos.com, feel free to explore the course library there for more info.  DISCLAIMER: Make sure you always back up your code externally before pressing save. -->
<style>
  .col-md-7.form-group,
  .l-theme-preview-card {
    overflow: hidden;
  }

  .app__hero__video {
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 0;
    min-width: 100%;
    min-height: 100%;
    height: auto;
  }

  section.app__hero {
    overflow: hidden;
  }

  .app__hero {
    min-height: 320px;
    height: 30vh;
    position: relative;
    z-index: -10;
    text-transform: none !important;
  }

  .align-middle {
    -ms-flex-align: center;
    align-items: center !important;
  }

  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: sans-serif;
    vertical-align: baseline;
  }

  .columns.medium-12 {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  div#htmlBanner {
    overflow: hidden;
    display: block !important;
  }

  @media print,
  screen and (min-width: 40em) {
    .medium-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      min-width: 0;
    }
  }

  @media print,
  screen and (max-width: 1200px) {
    .app__hero__video {
      min-width: 0;
      min-height: 380px;
      height: 60vw;
    }

    #htmlBanner video {
      width: 150vw;
    }
  }

  @media print,
  screen and (max-width: 672px) {
    .app__hero__video {
      min-width: 0;
      min-height: 380px;
      height: 30vw;
    }

    #htmlBanner video {
      width: 150vw;
    }
  }
</style>

<section class="app__hero">
  <video playsinline loop="" autoplay="" muted="" class="app__hero__video" src="https://litcommon.litmos.com/img/branding/Litmos_Banner1080.mp4"></video>
  <script>
    document.getElementById("vid").play();
  </script>
  
</section>
